/* Import fonts from fonts.css (local file) */
@import url(./fonts.css);
/* Global Styling */
@import url(./partials/_global.css);
/* CSS Variables */
@import url(./partials/_variables.css);

/* Begin Navigation Bar Area */
.header-area .main-menu .navbar .navbar-brand {
    font-family: 'Overpass Mono', monospace;
    padding: 0 2rem 0 2rem;
    font-weight: 900;

}
.header-area .main-menu .nav-item .nav-link {
    font-family: 'Overpass Mono', monospace;
    font-weight: 900;
}
.header-area .main-menu .nav-item .dropdown-menu {
    font-family: 'Overpass Mono', monospace;
    font-weight: 900;
}
.header-area .main-menu .navbar-nav .active a{
    background: linear-gradient(90deg, #ff7f00 0%, #ff7f00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header-area .main-menu .navbar-nav a:hover{
    background: linear-gradient(90deg, #ff7f00 0%, #ff7f00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* End Navigation Bar Area */
/* Begin Experience Area */
.experience-main .experience-section .container {
    font: normal 500 16px/25px 'Overpass Mono', monospace;
}
/* End Experience Area */
/* Begin Education Area */
.education-main .education-section .container {
    font: normal 500 16px/25px 'Overpass Mono', monospace;
}
/* End Education Area */
/* Start Footer Area */
footer.footer-area {
    padding: 1rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}
footer.footer-area .social h5 {
    font: normal 900 23px/30px var(--overpass);
}
footer.footer-area .social a > i {
    font-size: 22px;
    padding: 1rem;
    color: var(--border-color);
}
footer.footer-area .social a:hover > i {
    color: var(--primary-color);
}
/* End Footer Area */