/* Global Classes */
.title-text {
    /* font: normal bold 50px/72 Arial; */
    font-style: normal;
    /* font-weight: ; */
    font-family: var(--overpass);
    font-weight: 700;
}

/* Buttons */
.button {
    padding: 0.8rem 2.2rem;
    font: normal 500 16px/20px var(--overpass);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
    margin-bottom: 5px;
    /* color: black; */
}

.button.primary-button{
    background: var(--gradient-color);
    /* background-clip: padding-box; */
    color: whitesmoke;
    /* transition-property: background; */
    transition-duration: .5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    box-shadow: var(--box-shadow);
}
 
.button.primary-button:hover {
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after /*.button.button.secondary-button::after*/{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: var(--gradient-color);
    content: '';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button {
    background: white;
    background-clip: padding-box;
    transition-duration: .5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    /* box-shadow: var(--box-shadow); */
    border-color: black;
}


.button.secondary-button:hover {
    background: var(--gradient-color);
    color: black;
    box-shadow: var(--box-shadow);
}

p.para {
    /* color: var(--text-color); */
    font: normal 500 16px/25px var(--overpass);
}

.font-overpass {
    font-family: var(--overpass);
}

.title-h1 {
    font: normal bold 39px/40px var(--overpass);
}

.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0;
    right: 0;
    background: white;
    box-shadow: var(--box-shadow);
    z-index: 5;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
} 